*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#marginPosition, #Fee_A, #Fee_B{
    width: 268px; height: 40px; font-size: 15px;
    margin-bottom: 10px;
}

input{
    padding: 5px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#container{
    margin: 0 10px;
}

#Caculator{
    margin: 5px 0;
    display: block;
    width: 100px;
    height: 40px;
}

select{
    padding: 5px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

span, label{
    font-weight: bold;
    font-size: 20px;
}