* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#marginPosition,
#Fee_A,
#Fee_B {
    width: 268px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#container {
    margin: 0 10px;
}

#Caculator {
    margin: 5px 0;
    display: block;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    background-image: linear-gradient(91deg, rgba(72, 154, 78, 1) 5.2%, rgba(251, 206, 70, 1) 95.9%);
}

h2 {
    width: 311px;
    font-size: 17px;
}

select {
    padding: 5px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.reduce_A,
.reduce_B {
    line-height: 15px;
    border-radius: 10px;
    border: 2px solid black;
    width: 55px;
}

span,
label {
    font-weight: bold;
    font-size: 20px;
}

.p_25 {
    font-size: 25px;
}

#Clear {
    margin: 5px 0;
    display: block;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    background-color: red;
}

.Button_Click {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.hidden {
    display: none;
  }




@media (min-width: 600px) {
    .reduce_B{
        display: none;
    }
    .reduce_A{
        display: none;
    }

    .Button_Click{
        width: 30%;
    }
}

@media (max-width: 600px) {
    input {
        width: 100%;
        margin-top: 5px;
    }

    select {
        width: 100% !important;
    }
}