*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#marginPosition, #Fee_A, #Fee_B{
    width: 165px; height: 30px; font-size: 15px;
}

input{
    padding: 2px 2px;
}
#container{
    margin: 0 10px;
}

#Caculator{
    margin: 5px 0;
    display: block;
    width: 100px;
    height: 40px;
}